#myBoard {
    margin: 0;
    margin-top: 2em;
    width: 100%;
}

.boardContainer {
    width: 70vmin;
    overflow-wrap: break-word;
    margin: auto;
}

#brownBox {
    background-color: blanchedalmond;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 15vw;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: blanchedalmond;
    box-shadow: 5px 5px grey;
}

#grayBox {
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: 5px 5px grey;
}

#navbarItem {
    color: white;
}
.resetButton {
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: 2px 2px grey;
}
.sideButton {
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: 2px 2px grey;
}





